




.labelStyles{
    display: none;
    visibility: hidden;
}

.spanStyles{
    
    visibility: hidden;
}
.MuiOutlinedInput-notchedOutline.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
    >legend{
        display: none !important;
    }
    
}

.MuiInputBase-root.MuiOutlinedInput-root{
    border-width: thin;
    background-color: white;
    border-color: #80808057 1px solid;
}
.css-yjsfm1{
    display: none !important;
}

.css-14lo706{
    display: none !important;
}


@media (max-width: 360px) {
    .MuiFormControl-root.css-1qy3n14-MuiFormControl-root{
width:320px;
    }

    .css-2bu8rp{
        width: 32px;
    }
}


