@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);

.bodyContainer{
    
    display: grid;
    max-width: 1000px;
    justify-content: center;
    margin: auto;
    
}
   

.headerStyles{
    font-family:'Roboto', sans-serif;
    font-weight: 600;
    display: flex;
    flex-direction: column;

   
   
    padding: 20px;
    margin: 60px 0px 40px 0px;
    border-radius: 8px;
    align-items: center;
    
   
}

.formHeader{
    font-family:'Roboto', sans-serif;
    font-weight: 600;
    display: flex;
    flex-direction: column;

   
   
    padding: 5px;
    margin: 10px 0px 20px 0px;
    border-radius: 8px;
    align-items: center;
}

.formContainer{
    font-family:'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    font-style: normal;
    display: grid;
    align-items: center;
    

    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(243, 243, 243);
    padding: 24px;
    margin: 20px;
    border-radius: 8px;
    
}

.formRowOne{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-bottom: 24px;
    
}
.formRowTwo{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    
}

.clientName{
    display: flex;
    flex-direction: column;
}


.projectDescription{
    display: flex;
    width: 80%;
    flex-direction: column;
    grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 2;
}

.languageCount{
    display: flex;
    flex-direction: column;
}
.wordCount{
    display: flex;
    flex-direction: column;
}
.qaStyles{
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    margin-bottom:12px;
    grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
    
}
.typeStyles{
    display: flex;
    flex-direction: column;
    margin-top: 24px;;
    margin-bottom:12px;
    grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
    
}
.pageCount{
    display: flex;
    flex-direction: column;
    grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
}

label{
    padding: 5px 0px;
    
    
    
}

select{
    width: 250px;
    border-radius: 4px;
    height: 30px;

}
option{
    padding: 5px;
}

input{
    width: 358px;
    border-radius: 4px;
    height: 35px;
    border-width: thin;
    background-color: white;
    border-color: #80808057;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
    padding: 5px 10px;
    
}

input:hover {
    cursor: pointer;
}

textarea:hover {
    cursor: pointer;
}

input[type=checkbox]{
    width: 15px !important;
border-radius: 4px;
height: 15px;
border-width: 1px;
margin-right: 10px;
}


.buttonStyles{
    display: flex;
    flex-direction: column;
    margin: 24px 0px;
   
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
}
button{
    width: 800pxpx;
    border-radius: 4px;
    height: 35px;
    border-width: 0px;
    font-family:'Roboto', sans-serif;
    font-weight: 600;
    font-size: 17px;
    background-color: #0055b8;
    color: white;
    
}


button:hover {
    cursor: pointer;
}

.quoteContainer{
    margin: 24px 0px;
    display: grid;
    grid-template-columns:70% 1fr ;
    grid-template-rows: 1fr 1fr ;
    font-family:'Roboto', sans-serif;
    
    
    
    
    padding: 20px;
    margin: 20px;
    border-radius: 8px;

}
.HeaderColumn{
    border-bottom: 1px solid rgb(161, 161, 161);
    font-weight: 500;
    font-size: 16px;
}
.HeaderColumnTwo{
    text-align: right;
    border-bottom: 1px solid rgb(161, 161, 161);
    font-weight: 500;
    font-size: 16px;
}
.totalStyle{
    border-top: 1px solid rgb(161, 161, 161);
    font-weight: 500;
    font-size: 16px;
}
.totalStyleTwo{
    border-top: 1px solid rgb(161, 161, 161);
    text-align: right;
    font-weight: 500;
    font-size: 16px;
}

.columnTwo{
    text-align: right;

}

span{
    font-family:'Roboto', sans-serif;
    font-weight: 600;
    
    
    
}

.nativeStyles{
    margin-right: 170px;
}

.languageSpan{
    font-family:'Roboto', sans-serif;
    font-weight: 600;
    width:250px;
}


textarea{
    width: 358px;
    border-radius: 4px;
    height: 35px;
    font-family:'Roboto', sans-serif;
    font-weight: 400;
    border-width: thin;
    background-color: white;
    border-color: #80808057;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
    padding: 5px 10px;
    
}
.languageLabel{
    padding-bottom:10px;
}

.projectInfo{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    
    margin-left: 40px;
    margin-bottom: 2px;
   
    
    
}

.clientNameDisplay{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    
    
    margin-left: 40px;
    margin-bottom: 2px;
    
    
}
.btnDownload{
    width: 100px;
    font-weight: 400;
    font-size: 13px;
}

